/* home.css */

.chatbot {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: linear-gradient(to right, #16283b, #007bff); /* Gradient background */
  color: #fff;
  padding: 20px;
  text-align: center;
}
/* .botimage {
  background: radial-gradient(circle, #16283b, #007bff);
} */

.logo-container {
  width: 50px; 
  margin: 0 auto; 
}

.content {
  display: flex;
  flex: 1;
}

.chatbot-tabs {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 20%;
  background: linear-gradient(to left, rgba(130, 20, 157, 0.8), rgba(47, 13, 57, 0.8));
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(68, 6, 92, 0.2); /* Adjust the color and opacity to match the background */
}




.tab {
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #007bff, #044283); /* Gradient background */
  color: #fff;
  border: none;
  border-radius: 6px;
  text-align: center; /* Center align the text */
}

.tab:hover {
  background: linear-gradient(to right, #0056b3, #0d3968); /* Gradient background */
}

.chatbot-messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  
}

.message {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  max-width: 70%;
}

.user {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
}

.bot {
  align-self: flex-start;
  background-color: #f0f0f0;
  color: #333;
}

.chatbot-input {
  display: flex;
  padding: 20px;
}

.chatbot-input input[type="text"] {
  flex: 3; /* Increase the width of the text input box */
  margin-left: 100px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  outline: none;
  color: #333; /* Change the color of the text */
}

.chatbot-input input[type="file"] {
  flex: 1; /* Decrease the width of the file uploading box */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px 0;
  outline: none;
}

.chatbot-input button {
  background: linear-gradient(to right, #0d3968, #0056b3); /* Gradient background */
  color: #fff;
  border: none;
  border-radius: 0 6px 6px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-input button:hover {
  background: linear-gradient(to right, #0056b3, #0d3968); /* Gradient background */
}
